:root.light {
    --background-color-primary: #fff;
    --background-color-secondary: #dbdbdb;
    --background-color-blur: #ffffff79;
    --color-accent: #6a43a9;
    --color-border: #262626;
    --color-text-primary: #212121;
}

:root.dark {
    --background-color-primary: black;
    --background-color-secondary: rgb(54, 54, 54);
    --background-color-blur: rgba(0, 0, 0, 0.443);
    --color-accent: #6a43a9;
    --color-border: #595959;
    --color-text-primary: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    body {
        background-color: var(--background-color-primary);
    }
}